.icon-cow {
    background-image: url("../img/cow.svg");
    background-position: center center;
}

.uppercase{
    text-transform: uppercase;
}

.capitalize{
    text-transform: capitalize;
}

.text-black{
    color: #000;
}

.btn-select{
    background-color: #fff;
    border: 1px solid #d1d3e2;
}

.bg-login-image{
    background-image: url("../img/bg_img/image1.jpg");
}
.bg-register-image{
    background-image: url("../img/bg_img/image2.jpg");
}
.bg-password-image{
    background-image: url("../img/bg_img/image3.jpg");
}

.childrenList:after{
    content: ",";
}
.childrenList:last-child:after{
    content: "";
}

@media (min-width: 768px) {
    .container-fluid {
    padding-left: 15.5rem!important;
}
}

@media (min-width: 768px) {
    .topbar {
    padding-left: 14rem!important;
}
}

.topbar{
    position: fixed;
    z-index: 10;
    padding-left: 6.5rem;
    width: 100%;
}

.sidebar{
    position: fixed;
    z-index: 11;
}
.container-fluid{
    padding-top: 5.875rem;
    padding-left: 8rem;
    padding-right: 1.5rem;
}

.btn.disabled, .btn:disabled {
    opacity: .25;
}

.form-control:disabled, .form-control[readonly]{
    opacity: .5;
}

#addGest{
    display: none;
}

#displayGestForm{
    cursor: pointer;
}

.displayEdit{
    display: none;
}