.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgb(249,249,249);
    opacity: .4;
    text-align: center;
}
.loader > svg {
        width: 100px;
        height: 100px;
        margin: 20px;
        display:inline-block;
        position: absolute; /* postulat de départ */
        top: 50%; left: 50%; /* à 50%/50% du parent référent */
        transform: translate(-50%, -50%);
}

.icon-cow {
    background-image: url("../img/cow.svg");
    background-position: center center;
}

.uppercase{
    text-transform: uppercase;
}

.capitalize{
    text-transform: capitalize;
}

.text-black{
    color: #000;
}

.btn-select{
    background-color: #fff;
    border: 1px solid #d1d3e2;
}

.bg-login-image{
    background-image: url("../img/bg_img/image1.jpg");
}
.bg-register-image{
    background-image: url("../img/bg_img/image2.jpg");
}
.bg-password-image{
    background-image: url("../img/bg_img/image3.jpg");
}

.childrenList:after{
    content: ",";
}
.childrenList:last-child:after{
    content: "";
}

.topbar{
    position: fixed;
    top: 0;
    z-index: 10;
    padding-left: 14rem;
    width: 100%;
}
.topbar.sidebar-toggled{
    padding-left: 6.5rem!important;
}
.topbar.sidebar-hided{
    padding-left: 1.5rem!important;
}
.sidebar {
    position: fixed;
    z-index: 11;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
}
.container-fluid{
    padding-top: 5.875rem;
    padding-left: 15.5rem;
    padding-right: 1.5rem;
}

@media (max-width: 768px) {
    .container-fluid{
        padding-left: 8rem;
    }
    .topbar{
        padding-left: 8rem;
    }
}

@media (max-width: 1050px) {
    #nprogress .spinner {
        display: none;
    }
}

.container-fluid.sidebar-toggled{
    padding-left: 8rem!important;
}
.container-fluid.sidebar-hided{
    padding-left: 1.5rem!important;
}

.container-fluid.sidebar-hided{
    padding-left: 1.5rem;
}

.btn.disabled, .btn:disabled {
    opacity: .25;
}

.form-control:disabled, .form-control[readonly]{
    opacity: .5;
}

#addGest{
    display: none;
}

.activeGest{
    background-color: #f3f5ff;
}

#displayGestForm{
    cursor: pointer;
}

.displayEdit{
    display: none;
}

.progressBarGest{
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    position: absolute;
    margin: 0;
    padding: 0;
}
.positionRelative{
    position: relative;
}
.hideOverflow{
    overflow: hidden;
}
.gestInfo{
    display: flex;
}
.gestInfo > .align-middle{
    margin: auto;
}
#croppie{
    width: 100%;
    height: 400px;
}